<app-top-bar style="z-index: 1000;"></app-top-bar>
<app-left-bar></app-left-bar>

<div class="margin scroll-bar" style="height: calc(100vh - 70px); overflow-y: scroll;">

  <app-start-page style="z-index: 1" id="app-start-page"></app-start-page>
  <app-login-page style="z-index: 1" id="app-login"></app-login-page>
  <app-mobile-search-page style="z-index: 1" id="app-mobile-search"></app-mobile-search-page>
  <app-not-found-page style="z-index: 1" id="app-not-found-page"></app-not-found-page>

  <div id="background-routing-filter" class="f-w f-h" style="transition-duration: .5s; position: absolute; z-index: 3000; top: 70px; left: 0; background: rgba(0,0,0,0); display: none;"></div>
</div>

