
<!-- Error Page -->
<div class="error">
  <div class="container-floud">
    <div style="width: 100%" class="col-xs-12 text-center flex hor-center column">
      <div class="container-error-404 flex row hor-center">
        <div class="clip"><div class="shadow"><span class="digit"><p class="thirdDigit"></p></span></div></div>
        <div class="clip"><div class="shadow"><span class="digit"><p class="secondDigit"></p></span></div></div>
        <div class="clip"><div class="shadow"><span class="digit"><p class="firstDigit"></p></span></div></div>
      </div>

      <div style="width: 100%; margin-top: 40px;" class="flex hor-center">
        <h2 class="h1">Sorry! Page not found</h2>
      </div>
    </div>
  </div>
</div>
