<main class="rel f-w scr-f-h main-part">
<!--  just colorful images for background animation -->
<!--  <img class="abs anim-svg-1"-->
<!--       src="assets/animation_svg/animation_svg_1.svg">-->
<!--  <img class="abs anim-svg-2"-->
<!--       src="assets/animation_svg/animation_svg_2.svg">-->
<!--  <img class="abs anim-svg-3"-->
<!--       src="assets/animation_svg/animation_svg_3.svg">-->


<!--  main stuff -->
  <p class="main-text">Настроение</p>
  <div id="mood-card-container" class="flex rel row cards-container">
    <app-mood-card [id]="'mood-card-'+list.name" *ngFor="let list of moodList" [mood]="list.name" [color_scheme]="list.gradient"></app-mood-card>
  </div>

  <p class="main-text">Жанр</p>
  <div class="flex rel row cards-container">
    <app-genre-card [id]="'genre-card-'+list.name" *ngFor="let list of genreList" [text_color]="list.text_color" [genre]="list.name" [background_img]="list.image"></app-genre-card>
  </div>
</main>
