<div id="search-background" class="search-background scroll-bar">
  <p [class.show]="getMoodParam()" class="main-text">Настроение</p>
  <div id="MSC" class="flex rel column cards-container">

    <div *ngFor="let mood of moodList| search:mobileSearchValue; let i=index" class="mood-container flex column ver-center hor-center">
      <div [class.hide]="i >= 3" class="mood-card hide-class" [id]="'mobile-search-mood-card'+i"></div>
      <p [class.hide]="i >= 3" class="mood-text hide-class">{{mood.name}}</p>
    </div>

  </div>

  <p [class.show]="getGenreParam()" class="main-text">Жанр</p>
  <div class="flex rel column cards-container">

    <div *ngFor="let genre of genreList | search:mobileSearchValue; let i=index" class="genre-container rel flex column ver-center hor-center">
      <img *ngIf="i<3" class="genre-card" [src]="genre.image">
      <div *ngIf="i<3" class="genre-text-cont flex ver-center hor-center"><p [id]="'text'+genre.name" class="genre-text">{{genre.name}}</p></div>
    </div>

  </div>

  <p style="margin-top: 50px;" [class.show]="!getGenreParam()&&!getMoodParam()" class="main-text">По вашему запросу ничего не найдено</p>
</div>
